/* Global CSS file, e.g., global.css */
body {
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
}

.header h1 {
  text-align: center;
  margin-bottom: 0;
  font-size: 20px;
}

.header p {
  text-align: center;
}

.header .logo {
  text-align: center;
}

.header .logo img {
  cursor: pointer;
  width: 100px;
}

.menu {
  background-color: #000;
  text-align: center;
  padding: 15px 0;
}

.menu .menuItem {
  display: inline-block;
  margin: 0 30px;
}

.menu .menuItem a {
  color: #fff;
  text-decoration: none;
}

.page {
  height: 68vh;
}

/* .page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
} */

.page h1 {
  text-align: center;
}

.page h2 {
  text-align: center;
}

.page p {
  text-align: center;
}

.inputs .input {
  text-align: center;
}

.inputs .input input {
  height: 30px;
  width: 300px;
  margin: 5px 0;
}

.inputs .button {
  text-align: center;
}

.inputs .button button {
  background-color: #555;
  border: none;
  padding: 15px 30px;
  color: #fff;
  width: 308px;
  margin: 10px 0;
}

.error {
  background-color: red;
  width: 280px;
  margin: 5px 0;
  margin: 0 auto;
  padding: 15px;
  color: #fff;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100vw;
  font-size: small;
  box-sizing: border-box;
  background-color: #f3e4e4;
  /* Add a background color for better visibility */
  padding: 10px;
  /* Add padding for spacing */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  /* Add space between links */
}

.footer-divider {
  margin: 0 5px;
  /* Add space between dividers */
}

.logo {
  margin: 0 20px;
  /* Add space between logo and other elements */
}

.footer-text {
  margin-left: auto;
  max-width: 80%;
  /* Limit maximum width of text */
  overflow: hidden;
  /* Hide overflow text */
  text-overflow: ellipsis;
  /* Display ellipsis for overflow text */
  white-space: nowrap;
  /* Prevent text from wrapping */
  /* Push text to the right */
}

.custom-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* Set the container height to the full viewport height */
}

/* .button {
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.custom-button {
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: pink;
  /* Lighter shade of pink on hover */
}

.page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.inputs {
  width: 300px;
}

.input {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.terms {
  display: flex;
  font-size: smaller;
  align-items: center;
  margin-bottom: 20px;
}

.terms input[type="checkbox"] {
  margin-right: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.signup-prompt {
  /* justify-content: center;
  align-items: center; */
  margin-top: 10px;
}

.signup-prompt a {
  color: blue;
}

.container {
  display: flex;
  width: 80%;
  /* Adjust the width as needed */
}

.image-container {
  flex: 1;
  /* Take up equal space with login-container */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* Optional: Add padding for spacing */
  position: relative;
  /* Ensure relative positioning */
  overflow: hidden;
  /* Hide overflow content */
}

.image-container img {
  max-width: 100%;
  /* Ensure the image does not exceed the container width */
  max-height: 100%;
  position: absolute;
  /* Set absolute positioning */
  top: 0;
  /* Stick to the top */
  left: 0;
  /* Stick to the left */
}

/* .login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* Adjust padding to reduce space */


.split-layout {
  display: flex;
  height: 100%;
}

.left-half {
  flex: 1;
  padding-left: 20%;
  background-image: linear-gradient(to bottom, #F2D184, #F6DC92, #F2D184);
  /* Change the color stops and direction as needed */
}


.right-half {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  text-align: center;
  padding: 20px;
}